@use "../Spinner.scss";
@use "sass:color";

.scoreboard,
.interfaceWrapper {
	display: flex;
	//border: 1px solid Spinner.$secondaryColor;
	//color: color.adjust(Spinner.$secondaryColor, $alpha: -0.25);
	//background-color: color.adjust(Spinner.$secondaryColor, $alpha: -0.5);
	//border-radius: 1vh;
	text-align: center;
	div {
		flex-grow: 1;
		display: inline-block;
		//height: 33%;
		//border: 1px solid Spinner.$secondaryColor;
		//background-color: color.adjust(Spinner.$primaryColor, $alpha: -0.25);
		//border-radius: .75vh;
	}
	.turn {
		//float: left;
	}
	.score {
		//float: right;
	}
	.status {
		text-align: center;
	}
}
